body{
    background-color:#EBE1D1;
    font-family:serif;
}
header{
    background-color:#D3C3B2;
    text-align:center;
    color:#815423;
    position:fixed;
    width:100%;
    height:120px;
    
    
}



ul{
    list-style:none;
    transform: translate(0,-185%);
    background-color: #D3C3B2;
    width:100%;

}

li{
    display:inline;
    padding-right:15px;
    font-size:20px;
   
    }
    
.accessories {
    padding-bottom:45px ;
    padding-top:20px;
    font-size:50px;
    }
    
li a{
     color:#815423;
     text-decoration:none;
}
#pic{
    padding-top:150px; 
    
    }
#second {

   text-align: center;
   
}
.f{
    float: right;
   
}
.last{
    float: right;
}
.shop{
    background-color:#815423;
    color:#D3C3B2 ;
    padding:20px; 
    width:300px;
    margin-top:10px;
    font-size:30px;
    text-align:center;
    display: inline-block;
    }
#right{
  float: right;
} 
.shop a:visited{
    color:#D3C3B2;
    text-decoration: none;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #815423;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ebe1d1;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  #list{
    position:absolute;
    top:8px;
    left:16px;
    font-size:30px;
    color:#815423;
}
footer{
    color:#815423;
    background-color:#d3c3b2;
    align-content: center;
    text-align: center;
    width:100%;
    height:200px;
}
#inst{
    font-size:30px;
}
.dark-mode {
  background-color:black;
  color: white;

}
.dark-mode header{
    color: white;
    background-color:#1E1C1F;
}
.dark-mode li a{
    color: white;
}
.dark-mode .price{
    color:white;
}
.dark-mode .cart{
    background-color:#BA55D3;
}
.dark-mode .cart a{
    color:white;
}
.dark-mode .m{
    background-color:black;
    color:white;
    border:2px solid ;
    border-color:#BA55D3;
}
#dark-mode-toggle{
    position: absolute;
    top:8px;
    right:16px;
    font-size:40px;
    
}
.dark-mode #dark-mode-toggle{
    color:#BA55D3;
}
.dark-mode #list{
    color:#BA55D3;
}
.dark-mode #mylist{ 
  background-color:#BA55D3;  
}
 
.dark-mode footer,.dark-mode #foot,.dark-mode ul,.dark-mode li{
    color:white;
    background-color: #1E1C1F;
}
.dark-mode .shop,.dark-mode .shop a{
    background-color:#BA55D3;
    color:white;
}
.shop a{
    color:#D3C3B2 ;
}
 
  
   
