header,footer{
    background-color:#815423;
    color:#ebe1d1;
    align-content: center;
    text-align: center;
    width:100%;
    height: 200px;
}
#heart{
    color:#ebe1d1;
    font-size:20px;
}
#heart:hover{
    color: white;
}
input{
    border:none;
    width:40%;
    height:15%;
    border-radius:10px;
    color: #815423;
}
#search{
    color:#ebe1d1;
    font-size:20px;
}
#search:hover{
    color: white;
}
h1.header{
    font-size: 500%;
}
#list{
    position:absolute;
    top:8px;
    left:16px;
    font-size:40px;
}
#list:hover{
    color: whitesmoke;
}
nav{
    background-color:#815423;
    color:#ebe1d1;
}
.link{
    text-decoration: none;
    color: #ebe1d1;
}
.link:hover{ 
    color: whitesmoke;
}
#foot{
    color:#ebe1d1;
}
ul{
    list-style:none;
    font-size:20px;
}
.li{
    display:inline;
    margin:75px;
}
#fix{
    position: fixed;
    z-index:1;
    width:100%;
    top: 0;
}

.body{ 
    padding-top:250px;
}
h3{
    text-align: center;
    font-style:normal;
    color: #815423;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
}
body{
    background-color: #ebe1d1;
}
hr{
    border-radius: 20px;
    border-color: #815423;
    width: 30%;
    align-items: center;
}
#inst{
    font-size:30px;
}
div.sale,div.arrival{
    display:grid;
    grid-template-columns:300px 250px 250px;
    grid-template-rows:300px 250px;
    padding-left:240px;
    padding-right:240px;
    padding-top: 25px;
    column-gap:100px;
    margin-top:70px;

}
div.cat{
    display: grid;
    grid-template-columns:repeat(5,200px);
    padding-left:125px;
    padding-right:100px;
    padding-top: 25px;
    column-gap:50px;
    margin-top:80px;

}
p{
    color: #815423;
}
p:hover{
    color: #b79677;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #815423;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ebe1d1;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  #myUL {
    list-style-type: none;
    padding: 0;
    margin:10px;
    width:30%;
    background-color: #d3c3b2;
    position: absolute;
    
  }
  
  #myUL .srl .srla {
    border: 1px solid #815423;
    margin-top: -1px; /* Prevent double borders */
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #815423;
    display: block;
    
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #ebe1d1;
  }
  #ul{
    display: flex;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
   

  }
  img:hover{
    opacity:0.6;
  }
  .dark-mode {
    background-color:black;
    color: white;
  
  }
  .dark-mode header{
      color: white;
      background-color:#1E1C1F;
      
  }
  .dark-mode #p1{
      color: white;
      background-color:#1E1C1F;
  }
  .dark-mode nav{
      color: white;
      background-color:#1E1C1F;
  }
  .dark-mode li a{
      color: white;
  }
  
  .dark-mode .image4{
      border:solid #BA55D3 1px ;
       background-color:#BA55D3 ;  
  }
  .dark-mode .tt {
   color: white;
  }
  .dark-mode .wear {
   color: #BA55D3;
  }

  #dark-mode-toggle:hover{ color: whitesmoke;}
  
  #dark-mode-toggle{
     
      position:absolute;
      top:8px;
      right: 16px;
      font-size:50px;
      color:#ebe1d1;
  
    
  }
  .dark-mode #dark-mode-toggle{
      color:#BA55D3;
  }
  .dark-mode #list{
      color:#BA55D3;
  }
  
  .dark-mode .button1 {
      color:white;
  }
  .dark-mode .button {
      background-color:#BA55D3;
  }
  .dark-mode footer,.dark-mode #foot{
      color:white;
      background-color: #1E1C1F;
  }
  .dark-mode #link,.dark-mode h1{
      color:white;
  }
  .dark-mode #mylist{ 
    background-color:#BA55D3;  
  }
  .dark-mode {
      color:white;
  }
  .dark-mode .body{
       background-color: black; 
  }
  .dark-mode #main{
      background-color:black; 
  }
  .dark-mode a{
        color:white;
  }
  .dark-mode p{
        color:white;
       
  }
  .dark-mode .y{
        color:#BA55D3;
        
  }
  .dark-mode input{
      color:#BA55D3;
      
  }
  .dark-mode #myUL{
      background-color:white;
      color:#BA55D3;
  } 
  .dark-mode #myUL .srl .srla{
      color:#BA55D3;
  }
  .dark-mode h3{
       color:white;
  }
  #heart{
      color:white;
      font-size:20px;
  }
  hr{
      border-radius: 20px;
      border-color: #BA55D3;
      width: 30%;
      align-items: center;
  }
  .dark-mode #search{
      color:white;
  }
