.body{
    padding-top: 100px;
}
#s {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
  }
  #s  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .button {
    padding: 10px 20px;
    background-color: #815423;
    color: #ebe1d1;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px; 
  }
  
  .button:hover {
    background-color: #b79677;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #815423;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ebe1d1;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  #list{
    position:absolute;
    top:8px;
    left:16px;
    font-size:30px;
    color:#815423;
}
footer{
    background-color:#d3c3b2;
    color:#815423;
    align-content: center;
    width:100%;
    text-align: center;
    height:182px;
    margin-top: 50px;
}
.foot{
  font-size:32px;
  padding-bottom: 0%;
}
#inst{
  font-size:30px;
}
/* dark mode */
.dark-mode {
  background-color:black;
  color: white;

}
.dark-mode .header{
    color: white;
    background-color:#1E1C1F;
}
.dark-mode p{
    color: white;
}
.dark-mode nav{
    color: white;
    background-color:#1E1C1F;
}
.dark-mode li a{
    color: white;
}

.dark-mode a{
    color:white;
     /* background-color:#BA55D3 ;  */
}

#dark-mode-toggle{
   
    position:absolute;
    top:8px;
    right: 16px;
    font-size:40px;
    color:#815423;

  
}
.dark-mode #dark-mode-toggle{
    color:#BA55D3;
}
.dark-mode #list{
    color:#BA55D3;
}

.dark-mode .button {
    background-color:#BA55D3;
}
.dark-mode footer{
    color:white;
    background-color: #1E1C1F;
}
.dark-mode #link,.dark-mode h1{
    color:white;
}
.dark-mode #mylist{ 
  background-color:#BA55D3;  
}

.dark-mode .header h1{
    color:white;
     /* background-color:#BA55D3 ;  */
}
/*  */
 .header h1 {
            color: #815423;
            font-size: 400%;
            font-style: italic;
            margin: 0; 
        }